<ion-header >
  <ion-toolbar class="allHeader"> 

    <ion-buttons slot="start">
      <ion-fab-button (click)="regresar()" class="returnButon" size="small" color="#294A7A"><ion-icon name="arrow-back"></ion-icon></ion-fab-button>
    </ion-buttons>

    <ion-title class = "letraAdaptable">Editar movimientos</ion-title>
    <ion-buttons slot="end">
      <ion-fab-button (click)="mostrarInformacion()" class="returnButon" size="small" color="#294A7A"><ion-icon name="information-circle"></ion-icon></ion-fab-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-content class = "borderSelectionBarra">
    <p  class="alineacionIzquierda" >Tipo de movimientos: </p>
    <span  class="alineacionDerecha">
      <ion-select (ionChange)="actualizarTipoMov($event)" (click)="actualizarTipoMov($event)"  placeholder='Todos'>
        <ion-select-option value=1>Todos</ion-select-option>
        <ion-select-option value=2>Ingresos</ion-select-option>
        <ion-select-option value=3>Gastos</ion-select-option>
      </ion-select>
    </span>
  </ion-card-content>

 <ion-card *ngFor="let scheduled of schedules" class = "borderSelection">  
    <ion-card-header>
        <p>{{scheduled.description}}</p>
    </ion-card-header>
    <ion-card-content>
        <!-- frecuencia -->
        <p *ngIf="scheduled.idTypeInput == 1"> Tipo: Ingreso </p>
        <p *ngIf="scheduled.idTypeInput == 2"> Tipo: Gasto </p>
        <p>StartDate: {{scheduled.startDate | date:"dd/MM/y"}} </p>
        <p>Amount: {{scheduled.amount}} </p>
        <!-- frecuencia -->
        <p *ngIf="scheduled.idType == 1">Frecuencia: Unico</p>
        <p *ngIf="scheduled.idType == 2">Frecuencia: Semanal</p>
        <p *ngIf="scheduled.idType == 3">Frecuencia: Quincenal</p>
        <p *ngIf="scheduled.idType == 4">Frecuencia: Mensual</p>
        <p *ngIf="scheduled.idType == 5">Frecuencia: Anual</p>
        <!-- <p>frecuencia: {{scheduled.idType}} </p> -->
        <!--<ion-fab-button [routerLink]="['/menu/home']" class="alineacionDerecha" size="small" color="#294A7A"><ion-icon name="arrow-back"></ion-icon></ion-fab-button> -->
        <ion-button (click) = "editarProgramado(scheduled.idSheduledInput)" class="alineacionizquierda">
          <ion-icon name="brush"></ion-icon>
        </ion-button>
        <ion-button (click)="eliminarProgramadoPregunta(scheduled.idSheduledInput)" class="alineacionizquierda">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
   </ion-card-content> 
  </ion-card>

</ion-content>
