.Header{
    background-color: #294A7A;
    font-size: medium;
    color: #f3f3f3;
    width: auto;
}
.returnButon{
    text-align: center; 
    color: aliceblue;
    background-color: #294A7A;
}
.classCard{
    border: 2px solid black;
}