<!-- Ingresos -->
<ion-header>
  <ion-toolbar class="allHeader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agendar Ingreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cards">
    <ion-card-header>
     
    </ion-card-header>

    <ion-card-content>
      <p class="letraAdaptable"> Ultimos ingresos obtenidos</p>
      <br>
      <!--<p *ngFor="let income of incomes" *ngif="incomes" class="letraAdaptable">{{income.startDate | date:"dd/MM/y"}} | {{income.description}} | {{income.amount}}$</p> -->
      <ng-container *ngIf="incomes">
        <p *ngFor="let income of incomes" class="letraAdaptable">{{income.startDate | date:"dd/MM/y"}} | {{income.description}} | {{income.amount}}$</p> 
      </ng-container>
      <ng-container *ngIf="!incomes">
        <p class="letraAdaptable">No hay ingresos actualmente.</p> 
      </ng-container>
        
      <!--
      <ion-button expand="block" fill="clear">
        <ion-icon name="chevron-down-outline" ></ion-icon>
        </ion-button>
      -->

    </ion-card-content>
    <ion-button (click)="generarGraficoBoton()" class="alineacionizquierda">
      <ion-icon name="refresh"></ion-icon>
    </ion-button>
  </ion-card>

  <!-- 
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">grafico</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="https://pymstatic.com/9284/conversions/histograma-default.jpg" alt="">
    </ion-card-content>
    
  </ion-card>
-->
<ion-card class="cardsGrafs">  <!-- Primer grafico -->
   <!--  <br> -->
  <canvas width=380  height=300 id="myChart" >  </canvas>
</ion-card>


<ion-card class="cardsGrafs">  
  <canvas width=400  height=300 id="myChart2">  </canvas>
</ion-card>


<ion-card class="cards">  
  <p> Promedio de Ingresos del ultimo mes</p>
  <p>${{averageIncomes}}</p>
</ion-card>


<!--
<ion-card class="cards"> 
<div echarts [options]="chartOption" class="demo-chart"></div>
</ion-card>
-->

<!--
<ion-card class="cards"> 
<div echarts [options]="chartsOption" (chartInit)="onChartInit($event)"></div>
</ion-card>
-->

</ion-content>