<!-- Gastos -->
<ion-header >
  <ion-toolbar class="allHeader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="cards">
    <ion-card-header>

    </ion-card-header>

    <p class="letraAdaptable"> Ultimos Gastos Realizados</p>
      <br>
      <!--<p *ngFor="let income of incomes" *ngif="incomes" class="letraAdaptable">{{income.startDate | date:"dd/MM/y"}} | {{income.description}} | {{income.amount}}$</p> -->
      <ng-container *ngIf="outflows">
        <p *ngFor="let outflow of outflows" class="letraAdaptable">{{outflow.startDate | date:"dd/MM/y"}} | {{outflow.description}} | {{outflow.amount}}$</p> 
      </ng-container>
      <ng-container *ngIf="!outflows">
        <p class="letraAdaptable">No hay Gastos actualmente.</p> 
      </ng-container>
        <ion-button expand="block" fill="clear">
        <ion-icon name="chevron-down-outline" ></ion-icon>
        </ion-button>
  </ion-card>

  
</ion-content>
